.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.1s;
		position: relative;
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&::after {
		/* create an after element with same style of& and put it behind orig element */
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		/* abs pos is relative to the most recent parent element with relative positioning */
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		/* transition needs to be on the initial state */
		transition: all 0.2s;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 10px 20px rgba($color-black, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&--animated {
		animation: moveInBottom 0.4s ease-out 0.4s;
		animation-fill-mode: backwards;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;
		padding: 1.5rem 4rem;

		&::after {
			background-color: $color-white;
		}
	}
}
